* {
    padding: 0;
    margin: 0;
    background-color: black;
  }
  header {
    height: 200px;
    background: black;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
  }
  .container {
    width: 90%;
    
    margin: 0 auto;
  }
  .section {
    background: rgb(0, 0, 0);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10vw;
    height: 100vh;
    
  }
  
  .items {
    display: flex;
    gap: 20vw;
    height: 100%;
    width: 600vw;
    justify-content:space-around;
    align-items: center;
    flex-wrap: nowrap;
    list-style: none;
    padding-top: 10vh;
  }
  
  .item {
   min-width: 70vw;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center center; /* Ensure the background is centered */
  margin-right: 20px;
  border-radius: 50px;
  background-image: linear-gradient( rgb(141, 255, 1), rgb(162, 255, 32) );
  line-height: 190px;
  text-align: center;
  position: relative;
  z-index: 1;
  font-size: 24px;
  color: black;
  transition: 0.25s all linear;

  }
  .item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    width: 100%;
    border-radius: 50px;
    height: 100%;
   /* background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),black); */
   background-color: rgb(152, 255, 50);
    transition: all 0.25s linear; /* Ensure the transition applies to the background color */
  }
  .ct{
    z-index: 5;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: 4s infinite alternate slide;
    background-size: 150%;
    background-position: center;
   animation: slide 4s infinite alternate;
    transition: all 0.25s linear;
    
    background-image: url('./assets//images/event4.jpg');
    border-radius: 50px;
    
    }
    
    .ct::after{
        content: '';
        background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),black);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    width: 100%;
    border-radius: 50px;
    height: 100%;
    opacity: 0;
    transition: all 0.25s linear;
  }

  .ct:hover::after{
    opacity: 1;
  }

  .item:hover .ct{
    top: 20px;
    left: -30px;
  }
  .flair {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    position: fixed;
    z-index: 5;
    background-color:rgba(255, 255, 255, 0);
    backdrop-filter: blur(7px);
    border:5px solid rgb(162, 255, 32);
    top: -75px;
    left: -75px;
    pointer-events: none;
  }
  
  @keyframes slide {
    0% {
     background-position: 40% center ;
    }
    50%{
        background-position: 60% center ;
    }
    100% {
        background-position: 40% center ;
    }
    
  }
  .spacer {
    height: 300px;
    text-align: center;
    line-height: 300px;
  }